
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@theme{
  --font-jakarta: "Plus Jakarta Sans", sans-serif;

}

body{
  background-color: #E0E2E8;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  

}
.company-name{
  text-shadow: 
    -1px -1px 0 white, 
     1px -1px 0 white, 
    -1px  1px 0 white, 
     1px  1px 0 white;
}
@layer{
  .dashboard-menu{
    @apply hover:bg-[rgba(107,107,182,0.9)] p-1.5  cursor-pointer flex gap-3 active:bg-[rgba(104,118,238,0.7)] 
  }
  .submenu{
    @apply text-[12px] md:text-[15px] ml-0 pl-9  font-normal
  }
  .inventory-column{
    @apply px-16 py-2 text-left text-sm font-medium text-gray-700 uppercase tracking-wider
  }
  .inventory-row{
    @apply px-16 py-2 whitespace-nowrap text-sm text-gray-900
  }
  .title{
    @apply bg-white rounded-2xl px-2.5 text-[13px] md:text-[20px]  xl:text-[30px]
  }
  .createAccountTextArea{
    @apply w-[clamp(100px,70vw,350px)]  md:w-full h-[40px] md:h-[50px] lg:h-[55px] xl:h-[65px]  border border-[rgba(68,68,68,1)] rounded-[9px]
  }
}